extends layout

block content



	form(method="post")
		textarea(name="comment" class="form-control" rows="8" placeholder="Write your comment here")
		br
		button(type="submit" class="btn btn-primary") Comment