extends layout

block content
	.col-md-2
	.col-md-8
		form(method="post")
			input.form-control(type="text",name="email",placeholder="email")
			br
			textarea(name="about" class="form-control" rows="10" placeholder="about me")
			br
			input.form-control(type="text",name="phonenumber",placeholder="phonenumber")
			br
			input.form-control(type="text",name="image_url",placeholder="image url")
			br
			button(type="submit" class="btn btn-primary") edit
	.col-md-2