extends layout

block content

	.jumbotron
		.container
			h1 This is your destiny!
			p
				|If you do not know your destiny then you will soon find out.
				|Press create to find out your destiny
				|or login to continue the quest for your destiny.

			

