doctype html
html
	head
		title= title
		<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/slate/bootstrap.min.css" rel="stylesheet" integrity="sha256-JcgoO7qVianjbv43Z5KinReHzk9/rEZg5m6z/ZZy3DI= sha512-rYMbEYJa5+7VkGdfAypdYHqwIdCNEBKh8lhKUNIv58tgHQuHHzXC/Bzf66BFDkTjq970Lc6OIEpgllKINGDCKQ==" crossorigin="anonymous">

		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		.jumbotron(id="banner")
			.container

		nav(class="navbar navbar-default")
			div(class="container-fluid")
				div(class="navbar-header")
					if (!user)
						a(class="navbar-brand" href='/') Home
					if (user)
						a(class="navbar-brand" href='/myprofile') Home
				div
					ul(class="nav navbar-nav")
						if (!user)
							li: a(href='/create') Register
							li: a(href='/login') Login
						if (user)
							li: a(href='/myprofile') Profile
							li: a(href='/restricted') Posts
							li: a(href='/members') Members 
							li: a(href='/newpost') Add post
					ul.nav.navbar-nav.navbar-right
						if (user)
							li: a(href='https://steamcommunity.com/app/730')
									img(src="/apps_steam.png" id="steam")
							li: a(href='/logout') Log Out
							

							
	block content





