extends layout

block content
	.col-md-2
	.col-md-8
		h2 Users on this site
		h3 You are: #{user.username}

		if users
			p Click a name to visit their profile
			each u in users 
				a.list-group-item(href="/userprofile/"+u.username) #{u.username} 
	.col-md-2