extends layout

block content
	.row
		.col-md-2
		.col-md-8
			h2 Users on this site
			h3 You are: #{user.username}
			if find
				each u in find
					a.list-group-item(href="/userprofile/"+u.username) #{u.username}
			br
			form(method="post")
				input.form-control(type="text",name="search",placeholder="Search for a user")
				br
				button.btn.btn-primary(type="submit") Search
				

			if users
				br
				p Click a name to visit their profile
				each u in users 
					a.list-group-item(href="/userprofile/"+u.username) #{u.username} 
		.col-md-2