body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a:link {
	  text-decoration: none;
}

#user{
	font-size: 15px;

}

#date {
	font-size:15px;
	
}

#text{
	font-size: 20px;
}

.inputwindow{
	max-width: 300px;
}
