body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a:link {
	  text-decoration: none;
}

#user{
	font-size: 15px;

}

#date {
	font-size:15px;
	
}

#text{
	font-size: 20px;
}

.inputwindow{
	max-width: 300px;
}

#banner{
	position: relative;
	background-image: url("/banner2.jpg");
	width: 100%;
    height: 350px;
    background-size: cover;
    overflow: hidden;

}

.user-wrapper .description {
    padding: 25px;
    background-color: #fff;
}
.user-wrapper img {
    height: 300px;
    width: 300px;
}